@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme"{
  name: "cupcake";
  default: true;
  --color-base-100: lab(97.42 0.74 1.28 / 0.8);
}
@plugin "daisyui/theme"{
  name: "luxury";
  prefersdark: true;
  --color-base-100: lab(2.5 0.19 -0.7 / 0.8);
}

@custom-variant dark (&:where([data-theme=luxury], [data-theme=luxury] *));


.font {
  font-family:
    "Noto Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
