name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: wycode.cn

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: wangyucode
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Read package.json version
        id: read-version
        run: |
          echo "VERSION=$(jq -r .version package.json)" >> $GITHUB_OUTPUT
        shell: bash

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            wangyucode/wycode-next:latest
            wangyucode/wycode-next:${{ steps.read-version.outputs.VERSION }}

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: "wycode.cn"
          username: "${{ secrets.SERVER_USER }}"
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /root/docker/
            docker compose ps
            docker pull wangyucode/wycode-next:latest
            RUST_BACKEND_VERSION=${{ steps.extract-version.outputs.VERSION }} docker compose up -d --force-recreate --pull always next
            sleep 10
            docker compose ps
            docker image prune -f
